<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الشيكات</title>
    <link rel="stylesheet" href="../vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/fontawsome/all.min.css">
    <link rel="stylesheet" href="../assets/css/mainPage.css">
    <link rel="stylesheet" href="../assets/css/station.css">
    <link rel="stylesheet" href="../assets/css/checks.css">
    <link rel="stylesheet" href="../assets/css/media.css">
    <link rel="stylesheet" href="../assets/css/stylevalidation.css">
</head>

<body class="position-relative">
    <nav class="navbar navbar-expand-lg w-100">
        <div class="container pe-3">
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item logout" href="../index.html">تسجيل الخروج</a></li>
                        </ul>
                        <a class="nav-link dropdown-toggle pe-0" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            أحمد أحمد
                            <img class="ms-2 me-1" id="personal-img" src="../assets/img/Ellipse 2.png"
                                alt="personal-img" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 mt-1 " href="#"><i class="fa-regular fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 mt-1 " href="#"><i class="fa-regular fa-envelope"></i></a>
                    </li>
                </ul>
                <a class="navbar-brand py-2" href="#">الموظفين/الشيكات</a>
                <img class="py-2" id="logo_image" src="../assets/img/Ellipse 1.png" alt="logo" />
            </div>
        </div>
    </nav>
    <div class="side-bar text-end  ">
        <a class="side-bar-control pe-3 me-1" href="#components" onclick="toggleSidebar()">
            <img src="../assets/img/menu_FILL0_wght400_GRAD0_opsz48 1.png"/>
          </a>
          <ul id="components" class="sideBarContent w-100 list-unstyled ">
           <li class=" sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3 " href="mainPage.html">
              <img class="icon" src="../assets/img/home_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> الرئيسية</h6>
            </a>
           </li>
           <li class=" active employees sideBar-item">
            <a class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3 dropdown-toggle" href="#employeeSubMenu" onclick="navigateAndCollapse(event)"  data-bs-toggle="collapse" aria-expanded="false">
                <img  class="icon " src="../assets/img/badge_FILL0_wght400_GRAD0_opsz48 1.png" onclick="navigateToEmployees()"/>
                <h6 class="mt-2 me-3"  onclick="navigateToEmployees()"> الموظفين</h6>
            </a>
            <ul id="employeeSubMenu" class="collapse list-unstyled">
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2" href="salaries.html">
                  <img  class="icon" src="../assets/img/attach_money_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> الرواتب</h6>
                </a>
               </li>
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2 " href="loan.html">
                  <img  class="icon" src="../assets/img/approval_delegation_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> السلف</h6>
                </a>
               </li>
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2 pb-2" href="checks.html">
                  <img class="icon" src="../assets/img/payments_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> الشيكات</h6>
                </a>
               </li>
            </ul>
           </li>
           <li class="sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3" href="machines.html" >
              <img  class="icon" src="../assets/img/construction_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> الاليات</h6>
            </a>
           </li>
           <li class="sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3 " href="sales.html"  >
              <img  class="icon" src="../assets/img/real_estate_agent_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> المبيعات</h6>
            </a>
           </li>
           <li class="sideBar-item">
            <a class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3" href="expenses.html" >
              <img  class="icon" src="../assets/img/sell_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> النفقات</h6>
            </a>
           </li>
          <li class="sideBar-item">
            <a href="station.html" class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3 ">
              <img  class="icon" src="../assets/img/local_gas_station_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> محطات الوقود</h6>
            </a>
          </li>
          </ul>
          
      </div>
    <div class="checks-contents w-75 ">
        <div class="d-flex mb-4 check">
            <a class="btn check-btn text-white me-2" onclick="openEditForm()"><i class="fa-solid fa-file-circle-plus"></i></a>
            <h4>سجل الشيكات</h4>
        </div>
        <table>
            <tr >
              <th>رقم الشيك</th>
              <th>تاريخ الاستحقاق</th>
              <th>اسم صاحب الشيك</th>
              <th>رصيد الشيك</th>
              <th>صورة الشيك</th>
              <th>الإجراء</th>
            </tr>
            <tr>
              <td>hhhhhhhhhhhhh</td>
              <td>hhhhhhhhhhhhh</td>
              <td>hhhhhhhhhhhhh</td>
              <td>hhhhhhhhhhhhh</td>
              <td>hhhhhhhhhhhhh</td>
              <td>hhhhhhhh</td>
            </tr>
            <tr>
             
            </tr>
          </table>
          <div class="form-popup-overlay" id="overlay"></div>
          <div class="form-popup rounded text-center" id="editForm">
         <div class="d-flex justify-content-center">
          <i class="fa-solid fa-money-check me-2 mt-2 fs-4"></i>
          <h5 class="mt-2 mb-4">إضافة شيك</h5>
         </div>
           <form  class="text-center w-100 ms-5 me-3" onsubmit="return validateFormAddCheck()">
               <div class="row ms-2">
                 <div class="col-md-4 m-2">
                   <label>تاريخ اليوم</label>
                   <input class="rounded" type="date" id="date"/>
                 </div>
                 <div class="col-md-4 m-2">
                   <label>الموظف</label>
                   <input class="rounded" type="text" id="emp"/>
                 </div>

                 <div class="col-md-4 m-2">
                   <label>المبلغ</label>
                   <input class="rounded" type="text" id="amount"/>
                 </div>
                 <div class="col-md-4 m-2">
                   <label>إضافة شيك</label>
                   <input class="rounded w-75" type="file" id="add-check" />
                 </div>
                 <div class="col-md-8 m-2">
                   <button type="submit" class="btn ">إضافة</button>
                   <button type="button" class="btn  cancel" onclick="closeEditForm()">إلغاء</button>
                 </div>
               </div>
               
           </form>
           <div id="customAlert" class="custom-alert"></div>
       </div>
    </div>

    <script src="../vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/emp.js"></script>
    <script src="../assets/js/formValidation.js"></script>
</body>

</html>