
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="../vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/fontawsome/all.min.css">
    <link rel="stylesheet" href="../assets/css/mainPage.css">
    <link rel="stylesheet" href="../assets/css/media.css">
</head>
<body class="position-relative">
    <nav class="navbar navbar-expand-lg w-100">
        <div class="container pe-3">
          <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item logout" href="../index.html">تسجيل الخروج</a></li>
                    </ul>
                    <a class="nav-link dropdown-toggle pe-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      أحمد أحمد
                      <img class="ms-2 me-1" id="personal-img" src="../assets/img/Ellipse 2.png" alt="personal-img"/>
                    </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link fs-5 mt-1 " href="#"><i class="fa-regular fa-bell"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5 mt-1 " href="#"><i class="fa-regular fa-envelope"></i></a>
              </li>
            </ul>
            <a class="navbar-brand" href="#">الرئيسية</a>
            <img id="logo_image" src="../assets/img/Ellipse 1.png" alt="logo"/>
          </div>
        </div>
      </nav>
      <div class="side-bar text-end ">
        <a class="side-bar-control pe-3 me-1" href="#components" onclick="toggleSidebar()">
            <img src="../assets/img/menu_FILL0_wght400_GRAD0_opsz48 1.png"/>
          </a>
          <ul id="components" class="sideBarContent w-100 list-unstyled ">
           <li class="active sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3 " href="mainPage.html">
              <img class="icon" src="../assets/img/home_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> الرئيسية</h6>
            </a>
           </li>
           <li class="employees sideBar-item">
            <a class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3 dropdown-toggle" href="#employeeSubMenu" data-bs-toggle="collapse" aria-expanded="false" >
              <img  class="icon " src="../assets/img/badge_FILL0_wght400_GRAD0_opsz48 1.png" onclick="navigateToEmployees()"/>
              <h6 class="mt-2 me-3"  onclick="navigateToEmployees()"> الموظفين</h6>
            </a>
            <ul id="employeeSubMenu" class="collapse list-unstyled">
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2" href="salaries.html">
                  <img  class="icon" src="../assets/img/attach_money_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> الرواتب</h6>
                </a>
               </li>
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2 " href="loan.html">
                  <img  class="icon" src="../assets/img/approval_delegation_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> السلف</h6>
                </a>
               </li>
               <li>
                <a class="employees-item text-decoration-none d-flex flex-row-reverse mt-3 pe-2 pb-2" href="checks.html">
                  <img class="icon" src="../assets/img/payments_FILL0_wght400_GRAD0_opsz48 1.png"/>
                  <h6 class="mt-2 me-3"> الشيكات</h6>
                </a>
               </li>
            </ul>
           </li>
           <li class="sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3" href="machines.html" >
              <img  class="icon" src="../assets/img/construction_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> الاليات</h6>
            </a>
           </li>
           <li class="sideBar-item">
            <a class="text-decoration-none d-flex flex-row-reverse mt-3 pe-3 " href="sales.html"  >
              <img  class="icon" src="../assets/img/real_estate_agent_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> المبيعات</h6>
            </a>
           </li>
           <li class="sideBar-item">
            <a class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3" href="expenses.html" >
              <img  class="icon" src="../assets/img/sell_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> النفقات</h6>
            </a>
           </li>
          <li class="sideBar-item">
            <a href="station.html" class=" text-decoration-none d-flex flex-row-reverse mt-3 pe-3 ">
              <img  class="icon" src="../assets/img/local_gas_station_FILL0_wght400_GRAD0_opsz48 1.png"/>
              <h6 class="mt-2 me-3"> محطات الوقود</h6>
            </a>
          </li>
          </ul>
          
      </div>
      <div class="main-content mt-5">
         <div class="container mt-4">
            <div class=" row mt-2 gap-4">
                <div class="col-md-3 position-relative">
                  <img class="w-75 position-relative" src="../assets/img/Rectangle 130.png"/>
                  <div class="position-absolute start-4 top-0 d-flex ms-4 mt-2 justify-content-between gap-5">
                      <h5 >
                        10 <br/> آلات
                      </h5>
                      <img class="info w-50" src="../assets/img/construction_FILL0_wght400_GRAD0_opsz48 2.png"/>
                  </div>
                </div>
                <div class="col-md-3 position-relative">
                  <img class="w-75 position-relative" src="../assets/img/Rectangle 130.png"/>
                  <div class="position-absolute start-4 top-0 d-flex ms-4 mt-2 justify-content-between gap-4 text-center">
                      <h5>
                        5 <br/> ورش
                      </h5>
                      <img class="info w-50" src="../assets/img/real_estate_agent_FILL0_wght400_GRAD0_opsz48 2.png"/>
                  </div>
                </div>
                <div class="col-md-3 position-relative">
                  <img class="w-75 position-relative" src="../assets/img/Rectangle 130.png"/>
                  <div class="position-absolute start-4 top-0 d-flex ms-4 mt-2 justify-content-between gap-4 text-center">
                      <h5 >
                        66 <br/> موظف
                      </h5>
                      <img class="info w-50" src="../assets/img/groups_FILL0_wght400_GRAD0_opsz24 1.png"/>
                  </div>
                </div>

            </div>
            <div class="  row mt-4 gap-5">
             <div class="col-md-5">
              <img class="w-100" src="../assets/img/تشارت22 1.png"/>
             </div>
             <div class="col-md-5">
              <img class="w-75" src="../assets/img/تشارت1 1.png"/>
              <div class="d-flex flex-row-reverse mt-3">
                <div class=" text-end notification rounded ">
                  <h5 class="">:الإشعارات <br/> 
                    <div class="d-flex flex-row-reverse "><img class="ms-3" src="../assets/img/groups_FILL0_wght400_GRAD0_opsz24 1.png"/>
                    <h6 class="end-0 mt-3">اقترب موعد تسديد رواتب الموظفين</h6>
                    </div>
                    <div class="d-flex flex-row-reverse "><img class="ms-3" src="../assets/img/construction_FILL0_wght400_GRAD0_opsz48 2.png"/>
                      <h6 class="end-0 mt-3">ورشة رقم 2 انتهت </h6>
                      </div>
                  </h5>
                </div>
              </div>
             </div>
            </div>
         </div>
      </div>
    <script src="../vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>